<div class="contents row">
  <p><%= "#{@user.name}" %>さんの投稿一覧</p>

<% if @photo.images.attached? %>
    <div class = 'images'>
    <% @photo.image.each do |photo| %>
    <%= image_tag image %>
    </div>
    <% end %>
    <% end %>
  <%= link_to 'トップページに戻る', root_path %>
</div>