 <%= render "devise/shared/header", resource: resource %>


<div id="home" class="big-bg">
<div class="home-content wrapper">
<h2 class="page-title">shogun-authorized<br>trading book</h2>
<p>そうだ 御朱印集めに行こう</p>
</div>

    </div><!-- /#home -->
  