
<div id="home" class="big-bg">
  <header class="header wrapper">
        <h1><a href="/">Shougun</a></h1>
        <nav>
        <ul class="main-nav">
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
        <li><%= link_to 'ログイン', user_session_path, class: "login" %></li>

        </ul>
        </nav>
    </header>

<div class="home-content wrapper">
<h2 class="page-title">shogun-authorized trading book
</h2>
<p>素敵な思い出を投稿してみませんか？</p>
<a class="button" href="#">投稿する</a>
  </div>

   <footer>
      <p>
        Copyright Shougunatb 2022.
      </p>
    </footer>
    </div><!-- /#home -->
  