.postin-form {
  height: 560px;
  width: 410px;
  margin: auto;
  padding: 60px 60px;
  background: url(ガーベラ.jpeg) no-repeat   center center #505050;   
  background-size: cover;
  border-radius: 10px;
}

.postin-form-left {
  height: 560px;
  width: 410px;
  margin: auto;
  padding: 60px 60px;
  background-size: cover;
  box-shadow: 0px 30px 60px -5px #000;
  border-radius: 10px;
}

.postin {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.form__btn_comment {
  background-color: #ed1111;
  color: #FFF;
  width: 23%;
  padding: 10px 20px;
  text-align: center;
  font-size: 150%;
  height: 50px;
  border-radius: 20px;
  margin-top: 15px;
  transition: all 0.5s ease-in-out;
  border: none;
  text-transform: uppercase;
}



.comments {
  margin-top: 15px;

}