.table {
  font-size: 20px;
}

.item-main {
  color: black;
  font-size: 20px;
}

.item-img-show {
  width: 20vh;
  height: 20vh;
}

.like {
  color: black;
  font-size: 15px;
  margin-right: 15px;
}

