@charset "UTF-8";
/* 
h1 {
  font-size: 40px;
} */

a {
  text-decoration: none;
}

/* header */

.nav-main {
text-align: left;
    align-items: center;
}

.head_logo {
  width: 15%;
  margin: 20px 0 10px 50px;
}

.head_logo_sign {
  width: 40%;
}

.top {
  font-size: 20px;
  font-weight: 600;
  color: #f000;
  
}

.nav {
  display: flex;
  text-align: right;
  align-items: center;

}

.nav-right {
display: flex;
}

.nav-left {
  display: flex;
  }



.big-bg {
  background-size: cover;
  background-position: center top;
  opacity: 100%
}


#home {
  background-image: url(kyoto.jpeg);
  min-height: 100%;
}

#home.page-title {
  text-transform: none;
}

.main-nav {
  display: flex;
  margin-top: 8px;
  list-style: none;
  text-transform: uppercase;
  margin-left: 36px;
  font-size: 15px;
  color: #fff;
}


.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 4%;
}

.home-content {
  height: 90vh;
  text-align: right;
}

.home-content p {
  font-size: 20px;
  color: #fff;
}

.page-title {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #000;

}

.button:hover {
  background-color: #0090aa;
}

footer {
  text-align: center;
  font-size: large;
  background-color: #a9a9a9;
}

/* 投稿アイコン */

.purchase-btn {
  width: 120px;
      background: #f3f705;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
  }


/* 一覧二段目 */

/* 投稿一覧アイコン */
.room-content {
  margin-top: 5%;
}

.post-gest {
  text-align: center;
}

.post-image {
  width: 25%;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin-top: 6%;
  margin-bottom: 50px;
}

.item-img {
  width: 37vh;
  height: 45vh;
} 

.comments {
  font-size: 25px;
  margin-bottom: 20px;
}

.post-image-mypage {
  width: 100%;
}