@charset "UTF-8";
/* 
h1 {
  font-size: 40px;
} */

a {
  text-decoration: none;
}

/* header */


.head_logo {
  width: 15%;
  margin: 20px 0 10px 50px;
}

.head_logo_sign {
  width: 40%;
  margin-top: 20px;

}

.top {
  font-size: 20px;
  font-weight: 600;
  color: #f000;
  
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-right {
display: flex;
font-size: 20px;
  font-weight: 600;
}

.nav-left {
  display: flex;
  }



.big-bg {
  background-size: cover;
  background-position: center top;
  opacity: 100%
}


#home {
  background-image: url(kyoto.jpeg);
  min-height: 100%;
}

#home.page-title {
  text-transform: none;
}

.main-nav {
  display: flex;
  margin-top: 8px;
  list-style: none;
  text-transform: uppercase;
  margin-left: 36px;
  font-size: 15px;
  color: #fff;
  /* border-radius: 5px; */
  /* padding: 18px 32px; */
}


.wrapper {
  max-width: 1400px;
  margin: auto;
  padding: 0 4%;
}

.home-content {
  height: 90vh;
  text-align: right;
}

.home-content p {
  font-size: 20px;
  color: #fff;
  /* margin: 10px 0 42px; */
}

.page-title {
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #000;

}

/* .button {
  font-size: 20px;
  color: #505050;
  border-radius: 5px;
  padding: 18px 18px;
  margin-left: 36px;
} */

.button:hover {
  background-color: #0090aa;
}

footer {
  text-align: center;
  font-size: large;
  background-color: #fff;
}

/* 投稿アイコン */

.purchase-btn {
  width: 120px;
      background: #f3f705;
      text-align: center;
      border-radius: 4%;
      bottom: 32px;
      right: 32px;
      position: fixed;
      padding: 15px;
  }


/* 一覧二段目 */



.room-content {
  margin-top: 5%;
}

.post-gest {
  text-align: center;
}

/* .post-gest p {
  font-size: 1.125rem;
  margin-top: 10px 0 0;
} */


/* #room.post-gest {
  text-transform: none;
} */

/* .room-content {
  height: 5vh;
} */

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  margin-top: 6%;
  margin-bottom: 50px;
}

/* .item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */
/* 
.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
} */


/* .item-img-content {
  position: relative;
} */

.item-img {
  width: 35vh;
  height: 35vh;
} 

/* .card__image {
  width: 50%;
} */
